body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #fff;
    position: relative;
}
#landing {
    width:100%;
    height:10rem;
    position: relative;
    background-color: #1f1f1f;
    font-size: 2em;
    margin-bottom: 1em;
}
#landing .container {
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 0.5em;
    text-align: center;
    box-shadow: inset 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 75%;
    max-height: 10rem;
}
#landing h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: .25em auto;
}

.container {
    width: 90%;
    margin: auto;
    padding: 1rem;
}
h1, h2{
    color: #c04646;
}
h3 {
    color:lightgrey;
}
p {
    line-height: 1.6;
}
a {
    color: lightgray;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

iframe {
    height: 500px;
    width: 100%;
    background-color: white;
}

.instagram-link {
    display: inline-block;
    background-color: maroon;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}
.instagram-link:hover {
    background-color: brown;
}



/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////// X-SMALL SCREENS  ////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (max-width: 700px) {
    .container {
      max-width: 90%;
  }
    .sect {
      padding: 3em 0em;
    }
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
  /* /////////////////////////////////////// SMALL SCREENS  /////////////////////////////////////// */
  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
  @media all and (min-width: 700px) and (max-width: 1099px) {
      
  }
  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
  /* ////////////////////////////////////// MEDIUM SCREENS  /////////////////////////////////////// */
  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
  @media all and (min-width: 1100px) and (max-width: 1499px) {
      
  }
  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
  /* /////////////////////////////////////// LARGE SCREENS  /////////////////////////////////////// */
  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
  @media all and (min-width: 1500px) and (max-width: 1999px) {
      
  }
  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
  /* ////////////////////////////////////// X-LARGE SCREENS  ////////////////////////////////////// */
  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
  @media all and (min-width: 2000px) and (max-width: 3199px) {
  
  }
  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
  /* ///////////////////////////////////// XX-LARGE SCREENS  ////////////////////////////////////// */
  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
  @media all and (min-width: 3200px) {
      
  }