@font-face {
    font-family: Horror;
    src: url("fonts/BloodyModes-gwwYp.ttf") format("opentype");
}
h1, h2, h3{
    text-align: center;
    color: #c04646;
    font-family: Horror;
}

#search {
    text-align: center;
    width: 100%;
}
#myInput {
    padding-left: 10px;
    font-size: 1.5rem;
    height: 2rem;
    margin: 1rem auto;
    width: 60%;
}
.film{
    width:60%;
    box-sizing: border-box;
    margin: 0rem auto;
    text-align: center;
    color: #c04646;
    padding: 10px;
    font-size: 2rem;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    border-radius: 5rem;
    margin-bottom: 2rem;
}
.film p {
    color: whitesmoke;
    font-weight: 100;
    padding: 0rem 2rem;
}
em {
    color: rgb(196, 144, 144);
}
