@font-face {
    font-family: Horror;
    src: url("fonts/BloodyModes-gwwYp.ttf") format("opentype");
}




iframe {
    width: 80%;
    height: 35rem;
}

/* Rest of body */
.container {
    position: relative;
    width: 85%;
    margin: 1rem auto;
    text-align: center;
}

.pa-gallery-player-widget {
    margin-left: auto;
    margin-right: auto;
    display:none;
}
/* -------- */

/* fOOTER */
footer {
    font-family: 'Courier New', monospace;
    font-size: 0.75rem;
    margin-top:auto;
    background-color: #1f1f1f;
    text-align: left;
    border-top: whitesmoke 1px solid;
}
footer a {
    border: none;
}
/* -------- */